body {
  font: 18px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: black;
}

ol, ul {
  padding-left: 30px;
}

.keyboard {
  margin-top: auto;
  margin-bottom: auto;
  height: 600px;
}

.status {
  margin-bottom: 10px;
}

.letter {
  background: black;
  border: 1px solid #dddddd;
  color: #dddddd;
  float: left;
  font-size: 38px;
  font-weight: bold;
  line-height: 34px;
  height: 40px;
  margin: 18px;
  padding: 0px;
  text-align: center;
  vertical-align: center;
  width: 40px;
}

.letter:hover {
  background: aquamarine;
  color: black;
}



.letter:focus {
  outline: none;
}

.resetBtn {
  background: black;
  border: 1px solid #dddddd;
  color: #dddddd;
  float: left;
  font-size: 38px;
  font-weight: bold;
  line-height: 34px;
  height: 40px;
  margin: 18px;
  padding: 0px;
  text-align: center;
  width: 120px;
}

.resetBtn:hover {
  background: aquamarine;
  color: black;
}

.game {
  display: flex;
  flex: 1 2 auto;
  flex-direction: column;
}


.top {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border: aliceblue;
  color: #dddddd;
  display: flex;
  flex: 2 1 auto;
  flex-direction: row;
}



.guess {
  color: white;
  width: 200px;
  margin-bottom: 0;
  margin-top: 400px;
}

.gallow {
  margin-top: 5%;
  margin-bottom: 80%;
}
