body {
  font: 18px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: black;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.keyboard {
  margin-top: 48%;
  margin-bottom: 48%;
}

.status {
  margin-bottom: 10px;
}

.letter {
  background: black;
  border: 0px solid #999;
  color: #dddddd;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin: 18px;
  padding: 5px;
  text-align: center;
  vertical-align: center;
  width: 34px;
}

.letter:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}