body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: black;
}

ol, ul {
  padding-left: 30px;
}

.keyboard {
  margin-top: auto;
  margin-bottom: auto;
  height: 600px;
}

.status {
  width: 60%;
  margin-top: 100px;
}

.letter {
  background: black;
  border: 1px solid #dddddd;
  color: #dddddd;
  float: left;
  font-size: 38px;
  font-weight: bold;
  line-height: 34px;
  height: 40px;
  margin: 18px;
  padding: 0px;
  text-align: center;
  vertical-align: center;
  width: 40px;
}

.letter:hover {
  background: aquamarine;
  color: black;
}

.letter:focus {
  outline: none;
}

.guessed {
  background: red;
  border: 1px solid #dddddd;
  color: #dddddd;
  float: left;
  font-size: 38px;
  font-weight: bold;
  line-height: 34px;
  height: 40px;
  margin: 18px;
  padding: 0px;
  text-align: center;
  vertical-align: center;
  width: 40px;
}

.resetBtn {
  background: black;
  border: 1px solid #dddddd;
  color: #dddddd;
  float: left;
  font-size: 38px;
  font-weight: bold;
  line-height: 34px;
  height: 40px;
  margin: 18px;
  padding: 0px;
  text-align: center;
  width: 120px;
}

.resetBtn:hover {
  background: aquamarine;
  color: black;
}

.game {
  display: flex;
  flex: 2 1 auto;
  flex-direction: column;
}

.label {
  color: #dddddd;
  width: 400px;
  margin-top: 400px;
  margin-bottom: 0;
}

.top {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border: aliceblue;
  color: #dddddd;
  display: flex;
  flex: 2 1 auto;
  flex-direction: row;
}

.byside {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  flex: 3 1 auto;
}


.guess {
  color: white;
  width: 400px;
  margin-bottom: 0;
  margin-top: 400px;
}

.gallow {
  margin-top: 5%;
  margin-bottom: 80%;
}
